<form method="POST">
	<fieldset>
		<legend>base de données</legend>
		{MESSAGEDB}
		<ul>
			<li><label for="host">Hôte de la base</label> {host_err}</li>
			<li><input type="text" name="host" id="host" value="{host}" /></li>
			<li><label for="dbName">Nom de la base</label> {dbName_err}</li>
			<li><input type="text" name="dbName" id="dbName" value="{dbName}" /></li>
			<li><label for="user">Identifiant</label> {user_err}</li>
			<li><input type="text" name="user" id="user" value="{user}" /></li>
			<li><label for="pwd">Mot de passe</label> {pwd_err}</li>
			<li><input type="text" name="pwd" id="pwd" value="{pwd}" /></li>
		</ul>
	</fieldset>
	<fieldset>
		<legend>Administrateur</legend>
		
		<ul>
			<li><label for="nom_email">Nom pour l'envoi des emails administrateur</label> {nom_email_err}</li>
			<li><input type="text" name="nom_email" id="nom_email" value="{nom_email}" /></li>
			<li><label for="email">Email administrateur</label> {email_err}</li>
			<li><input type="text" name="email" id="email" value="{email}" /></li>
			<li><label for="login">Identifiant</label> {login_err}</li>
			<li><input type="text" name="login" id="login" value="{login}" /></li>
			<li><label for="password">Mot de passe</label> {password_err}</li>
			<li><input type="password" name="password" id="password" value="{password}" /></li>
		</ul>
	</fieldset>
	<fieldset>
		<legend>Paramètres divers</legend>
		<ul>
			<li><label for="site_name">Nom du site</label>{site_name_err}</li>
			<li><input type="text" name="site_name" id="site_name" value="{site_name}" /></li>
			<li><label for="site_baseline">Baseline</label>{site_baseline_err}</li>
			<li><input type="text" name="site_baseline" id="site_baseline" value="{site_baseline}" /></li>
			<li><label for="url">URL</label>{url_err}</li>
			<li><input type="text" name="url" id="url" value="{url}" /></li>
		</ul>
	</fieldset>
	<input type="submit" name="submit" value="valider" />
</form>