body {
	background:#eee;
	font-size:0.9em;
	header.page {
		height: 120px;
		background: #bbb;
		border-bottom: 1px solid #666;
	}
	section#page {
		position: relative;
		background:#fff;
		width: 960px;
		margin: 0 auto;
		border-left: 1px solid #666;
		border-right: 1px solid #666;
		.obligatoire {color:red;}
		.error{ 
			background:#fed4d4;
			color:red;
			border: 1px dotted red;
			padding:12px;
			margin: 12px 0;
		}
		ul {
			margin:0 0 0 20px;
			padding:0;
			li {
				font-size: 1em;
				margin:0;
				padding:0;
			}
		}
		a.button, input.button {
			display:inline-block;
			background-color: #b8beff;
			border: 2px solid #a0b4f2;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#b5c1ff', endColorstr = '#d0cee3');
			/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
			/*Element must have a height (not auto)*/
			/*All filters must be placed together*/
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#b5c1ff', endColorstr = '#d0cee3')";
			/*Element must have a height (not auto)*/
			/*All filters must be placed together*/
			background-image: -moz-linear-gradient(top, #b5c1ff, #d0cee3);
			background-image: -ms-linear-gradient(top, #b5c1ff, #d0cee3);
			background-image: -o-linear-gradient(top, #b5c1ff, #d0cee3);
			background-image: -webkit-gradient(linear, center top, center bottom, from(#b5c1ff), to(#d0cee3));
			background-image: -webkit-linear-gradient(top, #b5c1ff, #d0cee3);
			background-image: linear-gradient(top, #b5c1ff, #d0cee3);
			/*--IE9 DOES NOT SUPPORT CSS3 GRADIENT BACKGROUNDS--*/
		}
	}
	
	footer.page {
		height: 120px;
		background: #bbb;
		
		border-top: 1px solid #666;
	}
}