<p>À votre attention, de la part de SOI Conseil et formation.</p>

<p>Nous avons reçu une demande de réinitialisation du mot de passe associé à cette adresse e-mail. Si vous l'avez demandée, veuillez suivre les instructions ci-dessous.</p>

<p>Si vous n'avez pas demandé la réinitialisation de votre mot de passe, vous pouvez simplement ignorer cet e-mail. Soyez sûr que votre compte reste sécurisé.</p>

<p>Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe :</p>

<p><a href="{URL_RESET}">Je souhaite réinitialiser mon mot de passe</a></p>



<p>Merci de votre confiance.</p>