Bonjour {CIVILITE} {NOM} {PRENOM}, 
<br/><br/>
Merci de vous être inscrit sur SOITC
<br/><br/>
Pour finaliser votre inscription et activer votre compte merci de <a href="{URL_ACTIVATION}">cliquer ici</a>