.utils_rub{
	margin-top:20px;
	text-align:right;
}

.field {
	margin: 0 0 20px
}

.field label {
	display: block;
}
.field input, .field select, .field textarea {
	width: 100%;
	font-size	1.2em;
	padding: 10px;
}

.froala-element {
	min-height: 200px;
}


.btn.btn-offline {
	background-color: #fce2e1;
	color: #fff;
}

.btn.btn-online {
	background-color: #c0f0c0;
	color: #fff;
}

.btn-online:hover, .btn-online:focus, .btn-online:active, .btn-online.active, .open .dropdown-toggle.btn-online {
	color: #fff;
	background-color: #7cca7c;
	border-color: #69c969;
}

.btn-offline:hover, .btn-offline:focus, .btn-offline:active, .btn-offline.active, .open .dropdown-toggle.btn-offline {
	color: #fff;
	background-color: #ff7b76;
	border-color: #f7726d;
}

table tr > td.actions a, table tr > th.actions a {
	padding:none;
}
a.badge, table tr > td.actions a.badge, table tr > th.actions a.badge  {color:#fff;margin: 0}

.block {
	display: block;
}

.info_id {
	font-weight: bold;
	font-size: 2em;
}

.title a.title {font-size: 1.5em; text-align:left;}