body {
	background:#eee;
	header.page {
		width: 960px;
		margin: 0 auto;
		background: #bbb;
		border-bottom: 1px solid #666;
		nav {
			position: relative;
			background:#eee;
			border-left: 1px solid #bbb;
			border-right: 1px solid #bbb; 
			border-top: 1px solid #bbb;
			
			margin: 0 auto;
			height:64px;
			ul {
				list-style-type:none;
				margin:0;
				padding:0;
				li {
					position:relative;
					display:inline-block;
					background:#ccc;
					padding:4px;
					margin:4px;
						
					ul.sousmenu {
						width: 250px;
						position:absolute;
						left:0;
						z-index:9999;
						background:#fff;
						border:1px solid #ddd;
						li {
							display:block;
							height: 1.5em;
							line-height: 1.5em;
							background:none;
							a {
								color:#000;
								&:hover {
									color:#999;
								}
							}
						}
					}	
					
					&:hover{
						background:#bbb;
					}
					
					a {
						color:#fff;
						text-decoration:none;
					}
				}
				li.on {
					background:#999;
				}
				li ul.sousmenu{display:none;}
				li:hover ul.sousmenu {display:block;}
			}
		}
	}
	section#page {
		position: relative;
		background:#bcda86;
		width: 960px;
		margin: 0 auto;
		border-left: 1px solid #666;
		border-right: 1px solid #666;
		.obligatoire {color:red;}
		.illustration {
			width: 100%;
			height: 150px;
			background: #888;
			border: 1px solid #444;
			color: #fff;
			vertical-align: middle;
			text-align: center;
			font-size: 1.4em;
			font-weight: bold;
			margin-bottom: 20px;
		}
		.error{ 
			background:#fed4d4;
			color:red;
			border: 1px dotted red;
			padding:12px;
			margin: 12px 0;
		}
		.pagination_container {
			li {
				a {
					padding: 2px 8px;
					display: inline-block;
					background: #EEDCB5;
					margin: 4px;
					text-decoration: none;
					color: #666;
				}
				b {
					padding: 2px 8px;
					display: inline-block;
					background: #FF8500;
					margin: 4px;
					text-decoration: none;
					color: #fff;
				}
			}
		}
	}
	
	footer.page {
		width: 960px;
		margin: 0 auto;
		height: 120px;
		background: #bbb;
		
		border-top: 1px solid #666;
	}
}

.module {
	background: #92c348;
	font-size: 0.8em;
	margin: 8px;
	padding: 20px;
}