<h2>Administration du site</h2>
<p class="intro">{FILENAME}</p>
<div name="article_cms" id="article_cms" class="cms_edit" data-filename="{FILENAME}">{PAGE}</div>
<button id="save_cms"  class="btn btn-greensea right" >Enregistrer</button>