<form method="POST">
	<input type="hidden" name="T05_date_d" value="{T05_date_d}" />
	<section class="w100">
		<fieldset >
			<div class="field">
				<label for="T05_tag_va">URL {ERROR_T05_tag_va}</label>
				<input type="text" name="T05_tag_va" id="T05_tag_va" value="{T05_tag_va}" class="{class_ERROR_T05_tag_va}" />
			</div>
			<div class="field">
				<label for="T05_titre_va">Titre {ERROR_T05_titre_va}</label>
				<input type="text" name="T05_titre_va" id="T05_titre_va" value="{T05_titre_va}" class="{class_ERROR_T05_titre_va}" />
			</div>
			<div class="field">
				<label for="T05_texte_va">Texte {ERROR_T05_texte_va}</label>
				<textarea name="T05_texte_va" id="T05_texte_va" class="{class_ERROR_T05_texte_va}">{T05_texte_va}</textarea>
			</div>
		</fieldset>
	</section>
	<br class="nettoyeur" />
	<input type="submit" class="button button-bleu" name="submit" />
</form>