<form method="POST">
	<input type="hidden" name="T06_date_d" value="{T06_date_d}" />
	<section class="w100">
		<fieldset >
			<div class="field">
				<label for="T06_url_va">URL {ERROR_T06_url_va}</label>
				<input type="text" name="T06_url_va" id="T06_url_va" value="{T06_url_va}" class="{class_ERROR_T06_url_va}" />
			</div>
			<div class="field">
				<label for="T06_titre_va">Titre {ERROR_T06_titre_va}</label>
				<input type="text" name="T06_titre_va" id="T06_titre_va" value="{T06_titre_va}" class="{class_ERROR_T06_titre_va}" />
			</div>
			<div class="field">
				<label for="T06_chapo_va">Introduction {ERROR_T06_chapo_va}</label>
				<textarea name="T06_chapo_va" id="T06_chapo_va" class="{class_ERROR_T06_chapo_va}">{T06_chapo_va}</textarea>
			</div>
			<div class="field">
				<label for="T06_texte_va">Texte {ERROR_T06_texte_va}</label>
				<textarea name="T06_texte_va" id="T06_texte_va" class="{class_ERROR_T06_texte_va}">{T06_texte_va}</textarea>
			</div>
		</fieldset>
	</section>
	<br class="nettoyeur" />
	<input type="submit" class="button button-bleu" name="submit" />
</form>