<section class="tile">
  	<!-- tile header -->
  	<div class="tile-header">
    	<h1>Gestion des <strong>contenus</strong></h1>
        <div class="controls">
          <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
          <a href="#" class="remove"><i class="fa fa-times"></i></a>
        </div>
  	</div>
  	<!-- /tile header -->

   	<!-- tile body -->
   	<div class="tile-body">
   		{CONTENT}
	</div>
<!-- /tile body -->
</section>
 <script>
    $(document).ready(function(){

     
      $('#FG-arbo').nestable();
      $('.dd').nestable('collapseAll');
      //show tooltips
      $('.dd3-content .controls a').tooltip();

      $('.dd3-content .dropdown-menu input').click(function(e) {
        // Avoid following the href location when clicking
        e.preventDefault(); 
        // Avoid having the menu to close when clicking
        e.stopPropagation();
      });

    })
</script>