<header  class="pt3 pl3 pr3">
	<h2>Administration du site</h2>
	<p class="intro"></p>
</header>
<div class="row">
	<article class="col pa3 w100">
		<form>
			<input type="hidden" name="filename" value="{FILENAME}"/>
			<textarea name="article_cms" id="article_cms" class="markItUp" cols="80" rows="20">{PAGE}</textarea>
		</form>
	</article>
</div>
