
            <!-- cards -->
            <div class="row cards">
              
              <div class="card-container col-lg-3 col-md-6 col-sm-12">
                <div class="card card-red hover">
                  <div class="front" style="height: 122px;">        
                    <h1>New Users</h1>
                    <p id="users-count">728</p>
                    <span class="fa-stack fa-2x pull-right">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-user fa-stack-1x"></i>
                      <span class="easypiechart" data-percent="100" data-line-width="4" data-size="80" data-line-cap="butt" data-animate="2000" data-target="#users-count" data-update="3000" data-bar-color="white" data-scale-color="false" data-track-color="rgba(0, 0, 0, 0.15)"><canvas height="80" width="80"></canvas></span>
                    </span>
                  </div>
                  <div class="back">
                    <ul class="inline divided">
                      <li>
                        <h1>Total Users</h1>
                        <p>3541</p>
                      </li>
                      <li>
                        <h1>Last Month</h1>
                        <p>698</p>
                      </li>
                    </ul>
                    <div class="summary negative">13% <i class="fa fa-arrow-down"></i> this month</div>
                    <!-- Button trigger modal -->
                    <button class="btn show-code" data-toggle="modal" data-target="#codeModal01">
                      show code
                    </button>
                  </div>
                </div>
              </div>


              <div class="card-container col-lg-3 col-md-6 col-sm-12">
                <div class="card card-cyan hover">
                  <div class="front" style="height: 122px;">        
                    <h1>New Orders</h1>
                    <p id="orders-count">66</p>
                    <span class="fa-stack fa-2x pull-right">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-shopping-cart fa-stack-1x"></i>
                      <span class="easypiechart" data-percent="55" data-line-width="4" data-size="80" data-line-cap="butt" data-animate="2000" data-target="#orders-count" data-update="3000" data-bar-color="white" data-scale-color="false" data-track-color="rgba(0, 0, 0, 0.15)"><canvas height="80" width="80"></canvas></span>
                    </span>
                  </div>
                  <div class="back">
                    <ul class="inline divided">
                      <li>
                        <h1>Total Orders</h1>
                        <p>842</p>
                      </li>
                      <li>
                        <h1>Last Month</h1>
                        <p>151</p>
                      </li>
                    </ul>
                    <div class="summary positive">6% <i class="fa fa-arrow-up"></i> this month</div>
                    <button class="btn show-code" data-toggle="modal" data-target="#codeModal02">
                      show code
                    </button>
                  </div>
                </div>
              </div>



              



              <div class="card-container col-lg-3 col-md-6 col-sm-12">
                <div class="card card-green hover">
                  <div class="front" style="height: 122px;">        
                    <h1>Sales</h1>
                    <p id="sales-count">430</p>
                    <span class="fa-stack fa-2x pull-right">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-usd fa-stack-1x"></i>
                      <span class="easypiechart" data-percent="30" data-line-width="4" data-size="80" data-line-cap="butt" data-animate="2000" data-target="#sales-count" data-update="3000" data-bar-color="white" data-scale-color="false" data-track-color="rgba(0, 0, 0, 0.15)"><canvas height="80" width="80"></canvas></span>
                    </span>
                  </div>
                  <div class="back">
                    <ul class="inline divided">
                      <li>
                        <h1>Total Sales</h1>
                        <p>25,165</p>
                      </li>
                      <li>
                        <h1>Last Month</h1>
                        <p>3,154</p>
                      </li>
                    </ul>
                    <div class="summary positive">18% <i class="fa fa-arrow-up"></i> this month</div>
                    <button class="btn show-code" data-toggle="modal" data-target="#codeModal03">
                      show code
                    </button>
                  </div>
                </div>
              </div>





              <div class="card-container col-lg-3 col-md-6 col-sm-12">
                <div class="card card-orange hover">
                  <div class="front" style="height: 122px;">        
                    <h1>Visits</h1>
                    <p id="visits-count">1,891</p>
                    <span class="fa-stack fa-2x pull-right">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-eye fa-stack-1x"></i>
                      <span class="easypiechart" data-percent="90" data-line-width="4" data-size="80" data-line-cap="butt" data-animate="2000" data-target="#visits-count" data-update="3000" data-bar-color="white" data-scale-color="false" data-track-color="rgba(0, 0, 0, 0.15)"><canvas height="80" width="80"></canvas></span>
                    </span>
                  </div>
                  <div class="back">
                    <ul class="inline divided">
                      <li>
                        <h1>Total Visits</h1>
                        <p>48,694</p>
                      </li>
                      <li>
                        <h1>Last Month</h1>
                        <p>9,514</p>
                      </li>
                    </ul>
                    <div class="summary negative">2% <i class="fa fa-arrow-down"></i> this month</div>
                    <button class="btn show-code" data-toggle="modal" data-target="#codeModal04">
                      show code
                    </button>
                  </div>
                </div>
              </div>



              


            </div>
            <!-- /cards -->
 <script>
    $(document).ready(function(){
// Initialize card flip
      $('.card.hover').hover(function(){
        $(this).addClass('flip');
      },function(){
        $(this).removeClass('flip');
      });

      // Make card front & back side same

      $('.card').each(function() {
        var front = $('.card .front');
        var back = $('.card .back');
        var frontH = front.height();
        var backH = back.height();

        

        if (backH > frontH) {
          front.height(backH - 8);
        }
      });


 //generate pie charts
      $('.easypiechart').easyPieChart();

      //generate actual pie charts
      $('.pie-chart').easyPieChart();

      //animate numbers on cards
      $("#users-count").animateNumbers(Math.round( Math.random() * 1000 ));
      $("#orders-count").animateNumbers(Math.round( Math.random() * 100 ));
      $("#sales-count").animateNumbers(Math.round( Math.random() * 10000 ));
      $("#visits-count").animateNumbers(Math.round( Math.random() * 10000 ));

      //animate numbers with class .animate-number with data-value attribute
      $(".animate-number").each(function() {
        var value = $(this).data('value');
        var duration = $(this).data('animation-duration');

        $(this).animateNumbers(value, true, duration, "linear");
      });

      //animate progress bars
      $('.animate-progress-bar').each(function(){
        var progress =  $(this).data('percentage');

        $(this).css('width', progress);
      })
})
</script>