<nav>
	<ul>
		<li><a href="{#URL_PAGE=public@articles_transverses,nous_rejoindre}">Nous rejoindre</a></li>
		<li><a href="{#URL_PAGE=public@articles_transverses,mentions_legales}">Mentions légales</a></li>
		<li><a href="{#URL_PAGE=public@articles_transverses,devenez_annonceur}">Devenez annonceur</a></li>
		<li class="right"><i>« Cabinet, recrutement, orientation, questionnaire, personnalité »</i></li>
	</ul>
</nav>