<!-- Fixed navbar --><div class="navbar navbar-default navbar-fixed-top" role="navigation">
          


          <!-- Branding -->
          <div class="navbar-header col-md-2">
            <a class="navbar-brand" href="index.html">
              <strong>FRAME</strong> <span class="divider vertical"></span> GLOBE
            </a>
            <div class="sidebar-collapse">
              <a href="#">
                <i class="fa fa-bars"></i>
              </a>
            </div>
          </div>
          <!-- Branding end -->


          <!-- .nav-collapse -->
          <div class="navbar-collapse">
            

            
          <!-- Content collapsing at 768px to sidebar -->
            <div class="collapsing-content">




              <!-- Quick Actions -->
              <ul class="nav navbar-nav">
                <li class="divided">
                  <a href="#" class="page-refresh"><i class="fa fa-refresh"></i></a>
                  <span class="divider vertical"></span>
                </li>
                
                <li class="dropdown quick-action tasks">
                  <a class="dropdown-toggle button" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks"></i>
                    <span class="overlay-label green">5</span>
                  </a>
                  <ul class="dropdown-menu wide arrow green nopadding">
                    <li><h1>You have <strong>5</strong> new tasks</h1></li>
                    <li>
                      <a href="#">
                        <div class="task-info">
                          <div class="desc">Layout</div>
                          <div class="percent">80%</div>
                        </div>
                        <div class="progress progress-striped progress-thin">
                          <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">40% Complete (success)</span>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="task-info">
                          <div class="desc">Schemes</div>
                          <div class="percent">15%</div>
                        </div>
                        <div class="progress progress-striped active progress-thin">
                          <div class="progress-bar progress-bar-cyan" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 15%">
                            <span class="sr-only">45% Complete</span>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="task-info">
                          <div class="desc">Forms</div>
                          <div class="percent">5%</div>
                        </div>
                        <div class="progress progress-striped progress-thin">
                          <div class="progress-bar progress-bar-orange" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
                            <span class="sr-only">5% Complete (warning)</span>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="task-info">
                          <div class="desc">JavaScript</div>
                          <div class="percent">30%</div>
                        </div>
                        <div class="progress progress-striped progress-thin">
                          <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                            <span class="sr-only">30% Complete (danger)</span>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="task-info">
                          <div class="desc">Dropdowns</div>
                          <div class="percent">60%</div>
                        </div>
                        <div class="progress progress-striped progress-thin">
                          <div class="progress-bar progress-bar-amethyst" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete</span>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li><a href="#">Check all tasks <i class="fa fa-angle-right"></i></a></li>
                  </ul>
                </li>

                <li class="dropdown quick-action notifications">
                  <a class="dropdown-toggle button" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>
                    <span class="overlay-label orange">12</span>
                  </a>
                  <ul class="dropdown-menu wide arrow orange nopadding">
                    <li><h1>You have <strong>12</strong> new notifications</h1></li>

                    <li>
                      <a href="#">
                        <span class="label label-green"><i class="fa fa-user"></i></span>
                        New user registered.
                        <span class="small">18 mins</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        <span class="label label-red"><i class="fa fa-power-off"></i></span>
                        Server down.
                        <span class="small">27 mins</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        <span class="label label-orange"><i class="fa fa-plus"></i></span>
                        New order.
                        <span class="small">36 mins</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        <span class="label label-cyan"><i class="fa fa-power-off"></i></span>
                        Server restared.
                        <span class="small">45 mins</span>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        <span class="label label-amethyst"><i class="fa fa-power-off"></i></span>
                        Server started.
                        <span class="small">50 mins</span>
                      </a>
                    </li>

                     <li><a href="#">Check all notifications <i class="fa fa-angle-right"></i></a></li>
                  </ul>
                </li>

              </ul>
              <!-- Quick Actions end -->





              <!-- Search -->
              <div class="search">
                <input type="text" placeholder=" Search in dashboard...">
              </div>
              <!-- Search end -->





              <!-- User Controls -->
              <div class="user-controls">
                <ul>

                 
                  <li class="dropdown messages">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <span class="badge badge-red animated bounceIn" id="user-new-messages">3</span> John <strong>Douey</strong> <i class="fa fa-angle-down"></i>
                    </a>
                    <div class="profile-photo">
                      <!--//<img src="images/profile-photo.jpg" alt="">//-->
                    </div>
                    <ul class="dropdown-menu wide arrow red nopadding">
 <!--//
                      <li><h1>You have <strong>3</strong> new messages</h1></li>

                      <li>
                        <a class="cyan" href="#">
                          <div class="profile-photo">
                            <img src="images/ici-avatar.jpg" alt="">
                          </div>
                          <div class="message-info">
                            <span class="sender">Ing. Imrich Kamarel</span>
                            <span class="time">12 mins</span>
                            <div class="message-content">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</div>
                          </div>
                        </a>
                      </li>
//-->
                    </ul>
                  </li>

                  <li class="dropdown settings">
                    <a class="dropdown-toggle options" data-toggle="dropdown" href="#">
                      <i class="fa fa-cog"></i>
                    </a>
                    
                    <ul class="dropdown-menu arrow">

                      <li>
                        <h3>Color schemes:</h3>
                        <ul id="color-schemes">
                          <li><a href="#" class="brownish-scheme" title="" data-original-title="Brownish"></a></li>
                          <li><a href="#" class="darkgrey-scheme" title="" data-original-title="Dark Grey"></a></li>
                          <li><a href="#" class="lightgrey-scheme" title="" data-original-title="Light Grey"></a></li>
                          <li><a href="#" class="cyan-scheme" title="" data-original-title="Cyan"></a></li>
                          <li><a href="#" class="red-scheme" title="" data-original-title="Red"></a></li>
                          <li><a href="#" class="orange-scheme" title="" data-original-title="Orange"></a></li>
                          <li><a href="#" class="green-scheme" title="" data-original-title="Green"></a></li>
                          <li><a href="#" class="amethyst-scheme" title="" data-original-title="Amethyst"></a></li>
                        </ul>
                      </li>

                      <li class="divider"></li>

                      <li>
                        <a href="#"><i class="fa fa-user"></i> Profile</a>
                      </li>

                      <li>
                        <a href="#"><i class="fa fa-calendar"></i> Calendar</a>
                      </li>

                      <li>
                        <a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge badge-red" id="user-inbox">3</span></a>
                      </li>

                      <li class="divider"></li>

                      <li>
                        <a href="#"><i class="fa fa-power-off"></i> Logout</a>
                      </li>
                    </ul>
                  </li>

                </ul>
              </div>
              <!-- User Controls end -->

            



            </div>
            <!-- /Content collapsing at 768px to sidebar -->
            

            <!-- Sidebar -->
            {MENU_PRINCIPAL}
            <!-- Sidebar end -->





          </div>
          <!--/.nav-collapse -->





        </div>
<!-- Fixed navbar end -->