<div class="pa3">
	<div class="message_login">{MESSAGE}</div>
	<div id="login_container" title="Identification">
		<form method="POST" action ="index.php" style="margin:20px;" id="loginform" >
			<div class="field">
				<input type="hidden" name="action" value="verifLogin" />
				
				<input type="hidden" name="redirect" value="{REDIRECT}" />
				<label for="login">Pseudonyme</label>
				<input type="text" name="login" id="login" />
			</div>
			<div class="field">
				<label for="password">Mot de passe</label>
				<input type="password" name="password" id="password" />
			</div>
			<hr/>
			<input type="submit" value="S'identifier" class="bouton bouton_orange right"/>
			
		</form>
		
	</div>
</div>
