<title>Frame-globe admin : SERVICES-CE</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8" />

<link rel="icon" type="image/ico" href="images/favicon.ico" />
