<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="backend/templates/js/jquery.js"></script>
    <script type="text/javascript" src="classes/froala/js/froala_editor.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

     <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="backend/templates/js/bootstrap.min.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&amp;skin=sons-of-obsidian"></script>
    <script src="backend/templates/js/plugins/jquery.nicescroll.min.js"></script>
    <script src="backend/templates/js/plugins/blockui/jquery.blockUI.js"></script>
    <script src="backend/templates/js/plugins/jquery.easypiechart.min.js"></script>
    <script src="backend/templates/js/plugins/jquery.animateNumbers.js"></script>
    <script src="backend/templates/js/plugins/skycons/skycons.js"></script>
    <script src="backend/templates/js/plugins/jquery.sparkline.min.js"></script>
    <script src="backend/templates/js/plugins/summernote/summernote.min.js"></script>
    <script src="backend/templates/js/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="backend/templates/js/plugins/tabdrop/bootstrap-tabdrop.min.js"></script>
    <script src="backend/templates/js/plugins/fullcalendar/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="backend/templates/js/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="backend/templates/js/plugins/colorpalette/bootstrap-colorpalette.js"></script>
    <script src="backend/templates/js/plugins/parsley/parsley.min.js"></script>
    <script src="backend/templates/js/plugins/nestable/jquery.nestable.js"></script>
    <script src="backend/templates/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="backend/templates/js/plugins/datatables/ColReorderWithResize.js"></script>
    <script src="backend/templates/js/plugins/datatables/colvis/dataTables.ColVis.min.js"></script>
    <script src="backend/templates/js/plugins/datatables/tabletools/ZeroClipboard.js"></script>
    <script src="backend/templates/js/plugins/datatables/tabletools/dataTables.TableTools.min.js"></script>
    <script src="backend/templates/js/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="backend/templates/js/minoral.js"></script>
    <script src="backend/templates/js/jquery.qtip.min.js"></script>
    <script src="backend/templates/js/lanceur.js"></script>
    {INSERT_JS}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-683423-25', 'apparaitre.fr');
  ga('send', 'pageview');

</script>