<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="backend/templates/css/bootstrap.min.css">
<link rel="stylesheet" href="backend/templates/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="backend/templates/css/animate.min.css">
<link rel="stylesheet" href="backend/templates/css/rickshaw.min.css">
<link rel="stylesheet" href="backend/templates/css/bootstrap-checkbox.css">
<link rel="stylesheet" href="backend/templates/css/summernote.css">
<link rel="stylesheet" href="backend/templates/css/summernote-bs3.css">
<link rel="stylesheet" href="backend/templates/css/chosen.min.css">
<link rel="stylesheet" href="backend/templates/css/chosen-bootstrap.css">
<link rel="stylesheet" href="backend/templates/js/plugins/tabdrop/css/tabdrop.css">
<link rel="stylesheet" href="backend/templates/css/morris.css">
<link rel="stylesheet" href="backend/templates/css/minoral.css">
<link rel="stylesheet" href="backend/templates/css/perso.css">
<link rel="stylesheet" href="backend/templates/css/jquery.qtip.min.css">
<link rel="stylesheet" href="backend/templates/js/plugins/nestable/css/style.css">
<link rel="stylesheet" href="backend/templates/js/plugins/fullcalendar/fullcalendar.css">
<link rel="stylesheet" href="backend/templates/js/plugins/colorpalette/bootstrap-colorpalette.css">
<link href="classes/froala/css/froala_editor.min.css" rel="stylesheet" type="text/css" />
{INSERT_CSS}