<hr/>
<div class="row">
	<article class="col pa1 w33 ">
		<h2>Derniers articles du blog</h2>
		<p>http://soi.over-blog.com/</p>
	</article>
	<article class="col pa1 w33 ">
	<h2>Nous suivre</h2>
		<ul>
			<li><a href="http://www.facebook.com">Page Facebook emploi territorial</a></li>
			<li><a href="http://www.facebook.com">Page Facebook pour les étudiants</a></li>
			<li><a href="http://www.twitter.com">Twitter : notre actualité</a></li>
			<li><a href="http://www.netvibes.com">Netvibes : toutes les annonces</a></li>
			<li><a href="http://www.youtube.com">You tube : conseils et coaching</a></li>
			<li><a href="rss.php">RSS : les annonces classées</a></li>

		</ul>
	</article>
	<article class="col pa1 w33 ">
		<div class="bloc">
			<div class="pub">
				PUB
			</div>
		</div>
	</article>
</div>