<div class="page">
	<h1 id="logo" itemscope itemtype="http://schema.org/Organization">
		<a href="#" itemprop="url">
			<img src="app/templates/images/logo.png" width="1054" height="149" alt="Mon CE" itemprop="logo" />
		</a>
	</h1>
</div>

{MENU_PRINCIPAL}	