<header class="pa3">
	<h2>Titre de la page</h2>
	<p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</header>
<article class="pl3 pr3">
	{CONTENT}
	<div class="module">
	{#CMS=public.loisirs.mobil_home}
</div>

</article>
