<header  class="pt3 pl3 pr3">
	<h2>Authentification</h2>
	<p class="intro">Réinitialisation du mot de passe</p>
</header>
<div class="row">
	<article class="pa3 w50">
	<div class="message_login">{MESSAGE}</div>
	<div id="login_container" title="Identification" class="w50 center">
		<form method="POST" action ="reset-{CODE_INTERNE}" style="margin:20px;" id="loginform" >
			<div class="field">
				<input type="hidden" name="action" value="reset" />
				<input type="hidden" name="hash" value="{HASH}" />
				<input type="hidden" name="code_interne" value="{CODE_INTERNE}" />
				<label for="password">Votre nouveau mot de passe</label>
				<input type="password" name="password" id="password" />
				<label for="password2">Vérification du mot de passe</label>
				<input type="password" name="password2" id="password2" />
			</div>
			<input type="hidden" name="submit" value="submit" />	
			<input type="submit" value="Valider le nouveau mot de passe" class="button button-bleu right"/>
			
		</form>
		
	</article>
</div>
