<header  class="pt3 pl3 pr3">
	<h2>Authentification</h2>
	<p class="intro">Réinitialisation du mot de passe</p>
</header>
<div class="row">
	<article class="pa3 w50">
	<div class="message_login">{MESSAGE}</div>
	<div id="login_container" title="Identification" class="w50 center">
		<form method="POST" action ="reset_password" style="margin:20px;" id="loginform" >
			<div class="field">
				<input type="hidden" name="action" value="reset_password" />
				<input type="hidden" name="hash" value="{HASH}" />
				<label for="login">Email</label>
				<input type="text" name="login" id="login" />
			</div>
			<input type="hidden" name="submit" value="submit" />	
			<input type="submit" value="Réinitialiser le mot de passe" class="button button-bleu right"/>
			
		</form>
		
	</article>
</div>
