<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script type="text/javascript" src="app/templates/scripts/jquery.min.js"></script>
<script type="text/javascript" src="app/templates/scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="app/templates/scripts/jquery.form.min.js"></script>
<script type="text/javascript" src="app/templates/scripts/scripts.js"></script>
<script type="text/javascript" src="app/templates/scripts/fancyBox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript" src="classes/froala/js/froala_editor.min.js"></script>
<script type="text/javascript" src="app/templates/scripts/jquery.paging.min.js"></script>
<script type="text/javascript" src="app/templates/scripts/lanceur.js"></script>


<!--[if IE 6]>
<script src="app/templates/scripts/DD_belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('.png');
</script>
<![endif]--> 

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-XXXXX-XXX', 'XXXX.fr');
  ga('send', 'pageview');

</script>