<link rel="stylesheet" type="text/css" href="app/templates/css/knacss.min.css"  />
<link rel="stylesheet" type="text/css" href="app/templates/css/jquery.qtip.min.css"  />
<link rel="stylesheet" type="text/css" href="app/templates/css/jquery.dataTables.css"  />
<link rel="stylesheet" type="text/css" href="app/templates/css/jquery-ui.min.css"  />
<link rel="stylesheet" type="text/css" href="app/templates/css/jquery.realperson.css"  />
<link rel="stylesheet" type="text/css" href="app/templates/scripts/fancyBox/source/jquery.fancybox.css?v=2.1.4" media="screen" />
<link rel="stylesheet" type="text/css" href="app/templates/css/style.css"  />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
<link href="classes/froala/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="classes/froala/css/froala_editor.min.css" rel="stylesheet" type="text/css" />