<div class="row">
	<div class="col-xs-4 col-md-3">
		<h3>LOGO D'ARTICLE</h3>
		<div classs="box">
		</div>
	</div>
	<div class="col-xs-14  col-md-9">
		<form method="POST">
			<input type="hidden" name="hash" value="{HASH}" />
			<input type="hidden" name="T101_codeinterne_i" value="{T101_codeinterne_i}" />
		<div class="field">
			<label>TITRE <span class="{BLOG_TITRE_CLASS}">{BLOG_TITRE_ERR}</span></label>
			<input type="text" name="blog_titre" value="{BLOG_TITRE}"  class="{BLOG_TITRE_CLASS}" />
		</div>
		<div class="field">
			<label>SOUS-TITRE</label>
			<input type="text" name="blog_soustitre" value="{BLOG_SOUSTITRE}" />
		</div>
		<div class="field">
			<label>INTRODUCTION</label>
			<textarea name="blog_introduction" id="blog_introduction" class="blog_edit" >
				{BLOG_INTRODUCTION}
			</textarea>
		</div>
		<div class="field">
			<label>TEXTE</label>
			<textarea name="blog_texte" id="blog_texte" class="blog_edit" >
				{BLOG_TEXTE}
			</textarea>
		</div>
		<input type="submit"  class="btn btn-greensea right" value ="Enregistrer" />
	</div>
</div>