<tr class="{CLASS}">
	<td>
		<div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Article {CODEINTERNE}</h3>
            </div>
            <div class="panel-body text-center">
                <div class="bottommargin">
					{DATE}
				</div>
				<div class="btn-group" data-toggle="buttons">
				    <label class="btn btn-xs btn-offline fg_updateField {ACTIVE_OFFLINE}" data-value="off_line" data-table="T100" data-field="T04_code_statut_va" data-codeinterne="{CODEINTERNE}">
				    <input type="radio" name="statut_article_{CODEINTERNE}" value="off_line" {CHECKED_OFFLINE} />Hors-ligne</label>

				    <label class="btn btn-xs btn-online fg_updateField {ACTIVE_ONLINE}" data-value="on_line" data-table="T100" data-field="T04_code_statut_va" data-codeinterne="{CODEINTERNE}">
				    <input type="radio" name="statut_article_{CODEINTERNE}" value="on_line" {CHECKED_ONLINE} />Publié</label>
				</div>
            </div>
        </div>
	</td>
  	<td class="title">		
  		<a class="title text-cyan  text-left" href="?rubrique=modules&page=blog&function=editer_article&line={LINE}">{TITRE}</a>
  		<div class="text-right">
			<a class="delete badge badge-orange" href="#" title="supprimer"><i class="fa fa-trash-o"></i>  Supprimer</a>
		</div>
  	</td>
</tr>