

<div class="row">
  <div class="col-md-6">
   <section class="tile " style="zoom: 1;">
      <!-- tile header -->
      <div class="tile-header color greensea">
        <h1 class="big-thin">Rubriques</h1>
          
        </div>

        <div class="tile-body nopadding">
          <div class="table-responsive">
            <table id="liste_rubriques" class="table table-datatable">
              <thead>
                <tr>
                  <th class="sort-alpha">Status</th>
                  <th class="sort-alpha">Titre</th>
                </tr>
              </thead>
              <tbody>
                {LISTE_RUBRIQUES}
              </tbody>
            </table>
          </div>
        </div>

        <p class="utils_rub">
        <a href="#addRub" role="button" class="btn btn-greensea " data-toggle="modal"><i class="fa fa-tags"></i>Ajouter une rubrique</a>
       </p>
        <div class="modal fade" id="addRub" tabindex="-1" role="dialog" aria-labelledby="modalConfirmLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <form role="form" method="post">
                <input type="hidden" name="page" value="blog" />
                <input type="hidden" name="function" value="enregistrer_rubrique" />

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3 class="modal-title thin" id="modalConfirmLabel">Ajouter rubrique</h3>
                </div>

                <div class="modal-body">
                  <div class="form-group">
                    <label for="nom_rubrique">Nom de la rubrique</label>
                    <input type="text" class="form-control" id="nom_rubrique" name="nom_rubrique">
                  </div>
                  <div class="form-group">
                    <label for="texte_rubrique">Texte</label>
                    <textarea class="form-control" rows="3" name="texte_rubrique" id="texte_rubrique"></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-red" data-dismiss="modal" aria-hidden="true">Fermer</button>
                  <button class="btn btn-green">Enregistrer</button>
                </div>
              </form>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
  
     </section>
  </div>
  <div class="col-md-6">
    <section class="tile cornered" style="zoom: 1;">
        <!-- tile header -->
        <div class="tile-header color greensea">
          <h1 class="big-thin">{RUBRIQUE}</h1>
        </div>
        <!-- /tile header -->
        <!-- tile widget -->
        <div class="tile-widget">

        </div>
        <!-- /tile widget -->

        <!-- tile body -->
        <div class="tile-body">
            <div class="table-responsive">
            <table id="liste_articles" class="table table-datatable">
              <thead>
                <tr>
                  <th class="sort-alpha">Status</th>
                  <th class="sort-alpha">Titre</th>
                </tr>
              </thead>
              <tbody>
                {LISTE_ARTICLES}
              </tbody>
            </table>
          </div>
        </div>
        </div>
        <!-- /tile body -->

         <!-- tile footer -->
        <div class="tile-footer">

        </div>
        <!-- /tile footer -->
        <p class="utils_rub"><a href="?rubrique=modules&page=blog&function=ajouter_article" role="button" class="btn btn-greensea" ><i class="fa fa-tags"></i>Ajouter un article</a></p>
    </section>
  </div>
</div>

<script>
$(document).ready(function () {
  // Add custom class to pagination div
  $.fn.dataTableExt.oStdClasses.sPaging = 'dataTables_paginate paging_bootstrap paging_custom';
   

   
  var oTable01 = $('#liste_rubriques').dataTable({
    "aoColumnDefs": [
      { 'bSortable': false, 'aTargets': [ "no-sort" ] }
    ],
    "bAutoWidth": false,
    "aoColumns": [
      { "sWidth": "150px" }, // 1st column width 
      { "sWidth": "" }, // 2nd column width 
    ]
  });

  var oTable02 = $('#liste_articles').dataTable({
    "aoColumnDefs": [
      { 'bSortable': false, 'aTargets': [ "no-sort" ] }
    ],
    "bAutoWidth": false,
    "aoColumns": [
      { "sWidth": "150px" }, // 1st column width 
      { "sWidth": "" }, // 2nd column width 
    ]
  });
   
   
  var nEditing = null;

  //initialize chosen
  $('.dataTables_length select').chosen({disable_search_threshold: 10});
});
</script>